/* Text */
body { 
    background-image: url(https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
 
 }


.LogoTipo {
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    color: greenyellow;
}

.Introdution {
    font-family: sans-serif;
    text-indent: 35px;
    font-size: 20px;
    color: white;
    opacity: 0.8;
    position: relative;
    bottom: -10px;
}

.Introdution span {
    color: red;
}

.FAQ {
    font-family: sans-serif;
    color: white;
    position: relative;
    bottom: -18px;

}

.PerguntasERespostas {
    font-family: sans-serif;
    color: white;
    position: relative;
    bottom: -20px;
}

.LogoTipo span {
    color: red;
}

.Introdution span {
    color: red;
}

.Introdution span1 {
    color: green;
}

.Introdution span2 {
    color: orangered;
}

.Introdution span3 {
    color: cyan;
}

.Introdution span4 {
    color: yellow;
}

.PerguntasERespostas span {
    color: red;
}


/* Icons */
.LogoTipo, img {
    height: 45px;
    width: 45px;
    display: flex;
    position: relative;
    left: -5px;
    bottom: -1px;
}
